/* Admin overlay */
  
  .admin-overlay a:hover, .admin-overlay a:focus {
    color: #60be74;
    cursor: pointer;
  }
  
  .admin-logo {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  
  .modal {
    background-color: rgba(0,0,0,0.5);
  }
  .modal > div {
    padding: 10px;
  }
  .modal-content {
    border-radius: 25px;
  }

  .modal-header {
    border-radius: 25px 25px 0 0;
  }

  .modal-footer {
    border-radius: 0 0 25px 25px;
  }
      
  .modal-body{
    overflow-y: scroll;
    max-height: calc(100vh - 210px);
  }


  
.sidenav {
  height: 100%;
  width: 16%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6% 0 6% 10%;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

section {
  margin-left: 15%; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.card {
  background-color: transparent;
}
.card-body {
  background-color: lightgray;
}

#dtBasicExample tr, #dtBasicExample td{
  background-color: rgba(255,255,255,0.3);
}